<!DOCTYPE html>
<html>
<head>
  <title>EnjuTrunkStatistics</title>
  <%= stylesheet_link_tag    "enju_trunk_statistics/application", :media => "all" %>
  <%= javascript_include_tag "enju_trunk_statistics/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
